<div class="entries">
    {{#each entries}}
    <div class="entry">
        <div class="headword-row">
            {{word}}
            {{#if alt_spelling}}
                <span class="alt-spelling">(<em>also:</em> <strong>{{alt_spelling}}</strong>)</span>
            {{/if}}
            {{{rankBadge rank}}}
        </div>

        {{#if phonetic_hn}}
        <div class="phonetic">
            <span class="hn"><strong>HN</strong> <em>{{phonetic_hn}}</em></span>
            <span class="sg"><strong>SG</strong> <em>{{phonetic_sg}}</em></span>
        </div>
        {{/if}}
        <div class="ipa">
            <span class="hn"><strong>HN</strong> /{{ipa_hn}}/</span>
            <span class="sg"><strong>SG</strong> /{{ipa_sg}}/</span>
        </div>

        {{#each lexemes}}
        <div class="lexeme">
            <span class="pos-heading">{{pos}}</span>
            {{#if classifier}}<span class="classifier">(<em>classifier:</em> <strong>{{classifier}}</strong>)</span>{{/if}}
            <div class="senses">
                {{#each senses}}
                <div class="sense {{#if (eq ../senses.length 1) }}single{{/if}}">
                    {{#if tags}}
                    <div class="tags">
                        {{#each tags}}<span class="tag">{{this}}</span> {{/each}}
                    </div>
                    {{/if}}
                    {{#if qualifiers}}
                    <span class="qualifiers">{{join qualifiers ", "}}</span>
                    {{/if}}
                    {{gloss}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>